data/**
results/**
build/**
dist/**
**/__pycache__/**
CMakeFiles/**
CMakeCache.txt
UNKNOWN.egg-info/**
*.png
/neuralnet.egg-info
.vscode/** */
*.html
neuralnet.egg-info/**
debug/**
!debug/__init__.py
!debug/debug.py
!debug/neuralnet.py
!debug/debug.sh
!debug/python-valgrind.supp
rebuild.bat
test/data/**
**.pyd
**.so
version.h
env/**
valgrind.txt
debug.py